<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
  <style>
    input
    {
      color: black;
    }
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>

        <h2> Add User</h2>
        <form action="/ta02/addUser" method="POST">
          <label for="user_name">User Name:</label>
          <input type="text" id="user_name" name="user_name">
          <input type="submit" value="Add User">
          
        </form>

        <h2> Remove User</h2>
        <form action="/ta02/removeUser" method="POST">
          <label for="user_name_del">User Name:</label>
          <input type="text" id="user_name_del" name="user_name_del">
          <input type="submit" value="Remove User">
          <%- msg %>
        </form>
        
      </div>
    </div>
    <div class="container">
      <ul>
        <% for(user of user_arr){ %>
            <li><%= user %></li>
        <% }//end forloop %>
        </ul>
    </div>


</body>

</html>